.cyberpunk-box{
  position: relative;
  display: inline-block;
}
.copy{
  --slice-0: inset(50% 50% 50% 50%);
  --slice-1: inset(90% -6px 0 0);
  --slice-2: inset(60% -6px 30% 0);
  --slice-3: inset(10% -6px 85% 0);
  --slice-4: inset(40% -6px 53% 0);
  --slice-5: inset(80% -6px 15% 0);
  position: absolute; 
  top: 0;
  left: 0; 
  clip-path: var(--slice-0);
}
.copy.active{
  animation: 2.5s glitch infinite; 
}
@keyframes glitch {
  0% { clip-path: var(--slice-1); transform: translate(-20px, -10px); }
  4% { clip-path: var(--slice-3); transform: translate(10px, 10px); }
  8% { clip-path: var(--slice-1); transform: translate(-10px, 10px); }
  12% { clip-path: var(--slice-3); transform: translate(0px, 5px); }
  16% { clip-path: var(--slice-2); transform: translate(-5px, 0px); }
  20% { clip-path: var(--slice-3); transform: translate(5px, 0px); }
  24% { clip-path: var(--slice-4); transform: translate(5px, 10px); }
  28% { clip-path: var(--slice-2); transform: translate(-10px, 10px); }
  32% { clip-path: var(--slice-5); transform: translate(20px, -10px); }
  36% { clip-path: var(--slice-1); transform: translate(-10px, 0px); }
  40% { clip-path: var(--slice-1); transform: translate(0); }
  100% { clip-path: var(--slice-1); transform: translate(0); }
}